.container {
  width: 600px;
  margin: 0 auto;
  display: grid;
  place-items: center;
  margin-top: 5rem;
  padding: 3rem 5rem;
  border-radius: 10px;
}

.stinicio {
  background: rgb(66,66,66);
}

.strunning {
  background: rgb(100,0,0);
}

.stended {
  background: rgb(0,100,0);
}

.time {
  font-size: 8rem;
  margin-bottom: 1rem;
  color: white;
}

.buttons button {
  padding: 0.8rem 2rem;
  border: none;
  margin-left: 0.2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  transition: all 300ms ease-in-out;
  transform: translateY(0);
}

.buttons button:hover {
  transform: translateY(-2px);
}


.start {
  background: #3ed927;
  color: white;
}

.pause {
  background: #e4e446;
}

.reset {
  background: #fd7171;
  color: white;
}

.controle {
  padding: 0.8rem 2rem;
  border: none;
  margin-left: 0.2rem;
}

.controle label {
  display: block;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: white;
}

.controle input{
  display: block;
  width: 100%;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
}
